body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

nav {
  text-align: center;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  background-color: #efcfe3;
  padding: 13px 0;
}

nav a {
  margin: 0 15px;
  text-decoration: bold;
  color: #333;
}

/* TITLE */
 h1 {
  font-size: 40px;
  text-align: center;
  background-color: #efcfe3;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 8px;
}


footer {
  text-align: left;
  background-color: #fcf6bd;
  padding: 5px;
}


h1 {
  font-family: "Racing Sans One", sans-serif;
   font-size: 70px;
  font-weight: 500;
  font-style: normal;
}

p {
  font-size: 18px;
}